/* for colours see https://github.com/ifgi/optimetaPortal/issues/36 */

html, body {
  height: 100%;
  margin: 0;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

main {
  white-space: nowrap;
}

.navbar {
  height: 50px;
  background-color: #158F9B;
}

.tagline {
  font-weight: 800;
  font-size: 1.6em;
  box-sizing: unset;
  font-style: italic;
}

#sidebar {
  float: left;
  height: 100%;
  width: 10%;
}

#timeline {
  width: 100%;
}

#map {
  height: calc(100vh - 100px);
  width: 100%;
}

.footer {
  position: absolute;
  padding-bottom: 0px;
  width: 100%;
}

.footer-copyright {
  background-color: #158F9B;
  height: 50px;
}

.alert-primary {
  color: #000000;
  background-color: rgba(21, 143, 155, 0.2);
  border-color: #158F9B;
}

.alert-success {
  color: #000000;
  background-color: rgba(21, 143, 155, 0.2);
  border-color: #278189;
}

.alert-danger {
  color: #000000;
  background-color: rgba(155, 33, 21, 0.2);
  border-color: #9B2115;
}

.btn-primary {
  background-color: #158F9B;
  border-color: #158F9B;
}

.btn-primary:hover {
  background-color: #093C41;
  border-color: #093C41;
}

.btn-secondary {
  background-color: #585858;
  border-color: #585858;
}

.btn-primary:hover {
  background-color: #093C41;
  border-color: #093C41;
}

.btn-success {
  background-color: #158F9B;
  border-color: #158F9B;
}

.btn-danger {
  background-color: #9B2115;
  border-color: #9B2115;
}

.btn-outline-danger {
  color: #9B2115;
  border-color: #9B2115;
}

.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #9B2115;
  border-color: #9B2115;
}

.btn-warning {
  background-color: #9B7115;
  border-color: #9B7115;
}

.btn-outline-warning {
  color: #9B7115;
  border-color: #9B7115;
}

.btn-outline-warning:hover {
  color: #ffffff;
  background-color: #9B7115;
  border-color: #9B7115;
}

.btn-info {
  background-color: #158F9B;
  border-color: #158F9B;
}

.btn-link {
  font-weight: 400;
  color: #158F9B;
  text-decoration: none;
}

.btn-link:hover {
  color: #278189;
  text-decoration: underline;
}

/* have top-right map UI below the login/user menu */
.leaflet-top {
  z-index: 999;
}