{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}OPTIMAP</title>
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />

	<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block head %}{% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>

<body>

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light nav-fill w-100">
		<div class="container-fluid">
			<ul class="nav navbar-nav mr-auto ">
				<a class="navbar-brand" href="/">
					<img src="{% static 'optimap_logo_bw.svg' %}" width="90" height="100" alt="OPTIMAP logo">
				</a>
			</ul>

			{% block navbar %}{% endblock %}
		</div>
	</nav>

	<main class="container-fluid">
		{% block alert %}{% endblock %}
		
		{% block content %}{% endblock %}
	</main>

	<footer class="fixed-bottom page-footer font-small">
		<div class="footer-copyright text-center text-white py-3">
			<p class="mb-0 list-unstyled">
				&copy;&nbsp;2022&nbsp;<a class="text-white" href="https://projects.tib.eu/optimeta">OPTIMETA project</a>
				<a class="px-5 text-white" href="https://github.com/ifgi/optimetaPortal">Code</a>
				<a class="text-white" href="/privacy">Privacy</a>
			</p>
		</div>
	</footer>

	{% block scripts %}{% endblock %}

</body>

</html>