{% extends "main.html" %}
{% block navbar %}
{% if user.is_authenticated %}
  <ul class="nav navbar-nav ml-auto">          
    <li class="nav-item dropdown">
      <a class="nav-link dropdown" href="#"id="navbarDarkDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user-circle fa-3x"></i> 
      </a>
      <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDarkDropdown">
        <a class="dropdown-item" href="#">{{user.email}}</a>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="{% url 'publications:usersettings' %}">Settings</a></li>
        <li><a class="dropdown-item" href="{% url 'publications:subscriptions' %}">Subscription</a></li>
        <li><a class="dropdown-item" href="{% url 'publications:logout' %}">Logout</a></li>
      </ul>
    </li>
  </ul>
{% else %}
  <ul class="nav navbar-nav ml-auto">          
    <li class="nav-item dropdown">
      <a class="nav-link dropdown" href="#"id="navbarDarkDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user-circle fa-3x"></i> 
      </a>
      <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDarkDropdown">
        <li><a class="dropdown-item" href="#">{{user.email}}</li>
        <div class="dropdown-divider"></div>
      </ul>
    </li>
  </ul>
{% endif %} 
{% endblock %}

{% block alert %}
<div class="alert alert-success m-3" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
  <strong>Welcome to OPTIMAP!</strong> Your account was successfully registered.
</div>
{% endblock %}
