<footer class="fixed-bottom page-footer font-small">
    <div class="footer-copyright text-center text-white py-3">
        <p class="mb-0 list-unstyled">
            <span class="px-3">&copy;&nbsp;2022&nbsp;<a class="text-white" title="OPTIMETA project website" href="https://projects.tib.eu/optimeta">OPTIMETA project</a></span>
            <a class="px-3 text-white" title="Link to source code project" href="https://github.com/ifgi/optimetaPortal">Code</a>
            <a class="px-3 text-white" title="Privace information / Imprint" href="{% url 'optimap:privacy' %}">Privacy / Imprint</a>
            <a class="px-3 text-white" title="API browser" href="{% url 'optimap:data' %}">API</a>
            <span class="px-3">Publication data license: <a class="text-white" title="Publication metadata license" href='https://creativecommons.org/publicdomain/zero/1.0/'>CC-0</a></span>
        </p>
    </div>
</footer>
