{% extends "main.html" %}

{% block title %}Privacy policy and imprint | {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-4 py-5 text-wrap">
    <h1 class="py-2">Privacy policy</h1>

    <p class="lead">Optimeta doesnot collect or log your personal data. We only store your email to identify your user
      account and nothing else.</p>

    <p>The address of your website is {{ site | urlize }}.</p>

    <p>This website does not use any cookies to track users, with the exception of the login status, to which users
      provide implicit concent by opening an account on the website.</p>

    <p>This website utilizes map services provided by the OpenStreetMap Foundation, St John’s Innovation Centre, Cowley
      Road, Cambridge, CB4 0WS, United Kingdom (short OSMF). Your Internet browser or application will connect to
      servers operated by the OSMF located in the United Kingdom and in other countries. The operator of this site has
      no control over such connections and processing of your data by the OSMF. You can find more information on the
      processing of user data by the OSMF in the <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy">OSMF
        privacy policy</a>.
      This website integrates the OSMF services exclusively for the legitimate interest (cf. article 6.1f of the GDPR)
      of displaying the map functions to the users of the website for interactive exploration of the presented datasets.
    </p>

    <h1 class="py-2">Notice of liability</h1>
    <p>Although we check the content carefully, we cannot accept responsibility for the content of external links. The
      linked sites' carriers are responsible for their sites' content.</p>

    {% include "imprint.html" %}
  </div>
</div>

{% endblock %}