{% extends "base.html" %}

{% block title %}Privacy information and GDPR disclosure | {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-4 py-5 text-wrap">
    <h1 class="py-2">Privacy Policy</h1>

    <p class="lead">Optimeta doesnot collect or log your personal data. We only store your email ID by default and
      nothing else.</p>

    <p>The address of your website is htts://optimap.science.</p>

    

    <p>This website does not use any cookies.</p>

    <p>We integrate the maps of the service "OpenStreetMap", which are offered on the basis of the Open Data Commons
      Open Database Licence
      (ODbL) by the OpenStreetMap Foundation (OSMF). The data of the users are used by OpenStreetMap
      exclusively for the purpose of displaying the map functions and for caching the selected settings.
      settings. This data may include, in particular, IP addresses and location data of users, which, however, may not
      be used without their
      their consent (usually completed as part of the settings of their mobile devices);
      Service provider: OpenStreetMap Foundation (OSMF); Legal basis: Legitimate interests (Art. 6 para. 1 p. 1 lit. f)
      DSGVO); Privacy policy: https://wiki.osmfoundation.org/wiki/Privacy_Policy.</p>
  </div>
</div>

{% endblock %}